.container {
  padding: 30px 20px;
}

.card {
  width: 335px;
  height: 520px;
  border-radius: 6px;
  border: 1px solid #0a22391f;
}
h6::after {
  content: "";
  width: 70px;
  height: 4px;
  background: #3054d6;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10%);
}

.bid {
  font-size: 50px;
  color: #0d2d11;
  text-align: center;
  line-height: 77px;
  letter-spacing: -1px;
  font-weight: bold;
  /* opacity: 100%; */
  margin-top: -20px;
}
.column1 {
  float: left;
  width: 45%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5px;
}
.column2 {
  float: left;
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 5px;
}

button {
  font-size: 13px;
  color: #3054d6;
  text-align: center;
  line-height: 32px;
  letter-spacing: -0.13px;
  border: 1px solid #3054d6;
  border-radius: 25px;
  background-color: #3054d60f;
  padding: 2px 18px;
}
.button1 {
  font-size: 13px;
  color: #0a2239;
  text-align: center;
  line-height: 32px;
  letter-spacing: -0.13px;
  border: 1px solid #e7ebee;
  border-radius: 25px;
  background-color: #f6f9fb80;
  padding: 2px 18px;
}
.container2 {
  margin-top: 106px !important;
}
.row {
  margin-top: -30px;
  width: 100%;
}
.input {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  display: block;
  border: 1px solid #e7ebeeb3;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Nunito";
  font-size: 14px;
  color: rgba(13, 13, 15, 1);
  font-weight: medium;
  text-align: left;
  line-height: 20px;
  letter-spacing: 0px;
}
.input1 {
  width: 100%;
  padding: 12px 5px;
  margin: 8px 0;
  display: block;
  border: 1px solid #3054d6;
  border-radius: 4px;
  box-sizing: border-box;
}
.input:hover {
  border: 1px solid #3054d6;
}
.form {
  padding: 0px 20px;
}
.label {
  font-family: "Nunito";
  font-size: 12px;
  color: #868687;
  font-weight: 500;
  text-align: left;
  line-height: 10px;
  letter-spacing: -0.12px;
}

.label1 {
  font-family: "Nunito";
  font-size: 12px;
  color: #3054d6;
  font-weight: 500;
  text-align: left;
  line-height: 10px;
  letter-spacing: -0.12px;
}
.submit {
  width: 100%;
  background-color: #edf0f7;
  /* color: #2355fc; */
  color: rgba(35, 85, 252, 0.3);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
